<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhs.clothingpatternbackend.mapper.ArticleMapper">
    <resultMap id="BaseResultMap" type="com.xhs.clothingpatternbackend.model.entity.Article">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="categoryId" column="categoryId" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="coverImage" column="coverImage" jdbcType="VARCHAR"/>
            <result property="summary" column="summary" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="author" column="author" jdbcType="VARCHAR"/>
            <result property="source" column="source" jdbcType="VARCHAR"/>
            <result property="tags" column="tags" jdbcType="VARCHAR"/>
            <result property="viewCount" column="viewCount" jdbcType="INTEGER"/>
            <result property="likeCount" column="likeCount" jdbcType="INTEGER"/>
            <result property="commentCount" column="commentCount" jdbcType="INTEGER"/>
            <result property="shareCount" column="shareCount" jdbcType="INTEGER"/>
            <result property="collectCount" column="collectCount" jdbcType="INTEGER"/>
            <result property="isTop" column="isTop" jdbcType="TINYINT"/>
            <result property="isHot" column="isHot" jdbcType="TINYINT"/>
            <result property="isRecommend" column="isRecommend" jdbcType="TINYINT"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="auditStatus" column="auditStatus" jdbcType="VARCHAR"/>
            <result property="publishTime" column="publishTime" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,categoryId,title,
        coverImage,summary,content,
        author,source,tags,
        viewCount,likeCount,commentCount,
        shareCount,collectCount,isTop,
        isHot,isRecommend,status,
        auditStatus,publishTime,createTime,
        updateTime,isDelete
    </sql>
</mapper>