<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhs.clothingpatternbackend.mapper.PatternSimilarityMapper">

    <resultMap id="BaseResultMap" type="com.xhs.clothingpatternbackend.model.entity.PatternSimilarity">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="patternIdA" column="patternIdA" jdbcType="BIGINT"/>
        <result property="patternIdB" column="patternIdB" jdbcType="BIGINT"/>
        <result property="similarity" column="similarity" jdbcType="DOUBLE"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, patternIdA, patternIdB, similarity, updateTime
    </sql>

</mapper>
